.fundo-video{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: -1;
}

.video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 13%, rgba(0,0,0,0.8217821782178218) 50%, rgba(0,0,0,1) 90%);
    
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 40px;
    max-width: 1440px;
}
.cabecalho .logo img {
    width: 75px;
}

.menu ul {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.menu ul a {
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 10px;
}

.menu a:hover {
    background-color: rgb(114, 70, 184);
    color: rgb(27, 6, 54);
}

.container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.container .text-container {
    width: 50%;
}

.container .text-container img {
    width: 75%;
}

.container .text-container .paragrafo {
    margin-top: -30px;
    max-width: 80%;
    text-transform: uppercase;
    color: rgb(151, 144, 144);
}

.container .text-container .btn-trailer {
    color: rgb(27, 6, 54);
    background-color: rgb(114, 70, 184);
    padding: 10px 25px;
    border-radius: 20px;
    margin: 20px 0;
    transition: 0.5s;
    cursor: pointer;
}

.container .btn-trailer:hover {
    transform: scale(1.2);
}

.container img {
    width: 50%;
    margin-top: 50px;
}

